<h1>Create a course:</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |f| %>

      <%= f.label :course_name %>
      <%= f.text_field :name %>

  		

      <%= f.submit "Create this course", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
