[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.rowhead {
  min-width: 70px;
}
#curriculum {
  float:left;
  width: 815px;
}

#wrapper{
  width: 1200px;
}

#courses {
  .course{
    margin-bottom: 20px;
  }
  float:left;
  margin: 0px 10px 0px 25px; 
  width: 170px;
}

div[data-major="SCI"]{
  background-color: #D6C6A5;
}

div[data-major="SSC"]{
  background-color: #AFA0C7;
}

div[data-major="HUM"]{ 
  background-color: #B6CEE3;
}

div[data-major="ACC"]{
  background-color: #C3D89A;
}

i[data-original-title]{
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width: 14px;
    height: 14px;
    border: 8px solid red
  }

.course {
  li {
    line-height: 16px;
  }

  ul {
    list-style-type: none;
    margin: 5px 0px 0px 5px;
    padding: 0;
  }
  font-size: 8pt;
  height: 60px;
  width: 125px;
  float: left;
  
  
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  cursor: move;

  -webkit-box-shadow: 1px 1px 3px 1px #555;
  -moz-box-shadow: 1px 1px 3px 1px #555;
  box-shadow: 1px 1px 3px 1px #555;

  border: 1px solid #000;
}

.course.over, .courseplace.over{
  border: 2px dashed #000;
}

.green {
  background-color: #90EE90;
}

.red {
  background-color: #FF3030;
}

.bin {
  height: 240px;
  width: 206px;
  position:fixed;
  bottom:0;
  margin-left:-30px;
}
figcaption {
  position: absolute;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  font-size: 150%;

  opacity: 0;
  bottom: 0;
  left: -30%;

  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}

figure:before { 
  content: "?"; 
  position: absolute; 
  background: rgba(255,255,255,0.75); 
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  /* Only Fx 4 supporting transitions on psuedo elements so far... */
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  opacity: 0.75;  

  top: 10px;
  right: 10px;
}
figure:hover:before {
  opacity: 0;
}

.bin-over {
  /*
  something funny
  */
}

.courseplace {
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  height:60px;
  width:125px;
  border: 2px solid #ccc;
}

.courseplace.course{
  border: 1px solid #000;
}

.icon-plus, .icon-remove-circle {
  cursor: pointer;
  float:right; 
}

