<!DOCTYPE html>
<html>
  <head>
    <title>AUC curriculum builder</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div id="logo">
        	AUC Curriculum builder!
        </div>
      </div>
    </header>
      <%= yield %>
  </body>
</html>